.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 17, 17);
    max-height: 10%;
    width: 100%;
    z-index: 5;
    position: fixed;
}

#pages {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.page {
    position: relative;
    margin: 7;
    padding: 15;
    border-radius: 1.098vw;
    margin-left: 4.3924vw;
    background-color: transparent;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Ageo Personal Use', sans-serif;
    font-size: 1.757vw;
}

.page:hover {
    color:whitesmoke; 
}

.page::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 3px; /* !!convert to vw!! */
    bottom: -3px; /* !!convert to vw!! */
    background-color: whitesmoke;
    content: "";
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.page:hover::before {
    transform: scaleX(0.8);
}

.footer {

    color: whitesmoke;
    background-color: rgb(15, 10, 10);
    margin-bottom: auto;
    margin-top: 50px;

}

#socials {

    font-size: 25px; /* !!convert to vw!! */
    margin-right: 10px; /* !!convert to vw!! */

}

.fa {

    padding: 10px; /* !!convert to vw!! */
    font-size: 30px; /* !!convert to vw!! */
    width: 10px; /* !!convert to vw!! */
    margin-right: 1px; /* !!convert to vw!! */
    text-align: center;
    text-decoration: none;
    color: whitesmoke;

}