<!DOCTYPE html>
<html lang="en">


<head>
    <!-- META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Marcus Antonelli">
    <meta name="content-language" content="en">
    <!-- STYLE -->
    <link rel="stylesheet" href="portfolio-style.css">
    <link rel="stylesheet" href="navbar-universal.css">
    <link rel="stylesheet" href="universal.css">
    <!---->
    <link href="https://fonts.cdnfonts.com/css/hansief" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/ageo-personal-use" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- SCRIPT -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/templates/portfolio.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/4.0.9/scrollreveal.js" integrity="sha512-XJgPMFq31Ren4pKVQgeD+0JTDzn0IwS1802sc+QTZckE6rny7AN2HLReq6Yamwpd2hFe5nJJGZLvPStWFv5Kww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- OTHER -->
    <title>Portfolio and Projects</title>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/small/512/spider.png">
</head>
<body>

    <section class="navbar">
        <div id="icon">
            <a href="index.html" class="main-icon"><img src="https://img.icons8.com/small/512/spider.png" id="spider-icon"></a>
        </div>
        <div id="pages">
            <a href="portfolio.html" class="page">Portfolio</a>
            <a href="#announcements" class="page">Announcements</a>
            <a href="#contact" class="page">Contact</a>
        </div>
    </section>

    <section class="content">
        <section id="introduction">   
            <h1 id="title">MY PROJECTS</h1>
            <p id="subtitle">Crawl Down The Wall And Have A Look</p>
        </section>

        <div><a href=#album-list><i class="fa fa-caret-down" id="down"></i></a></div> <!-- DOWN BUTTON -->

        <section id="album-list">
            <ul class="img-row">
                <li class="left-img">
                    <div class="album">
                        <div class="img-wrapper"><a href="https://soundcloud.com/kyle-hoegen-329933401/sets/snowfall" target="_blank" class="album-link"><img src="https://i.scdn.co/image/ab67616d00001e0276ef60bac7cfaac34ff03025" target="_blank"  class="album-img"></a></div>
                        <div class="text-wrapper"><a href="https://soundcloud.com/kyle-hoegen-329933401/sets/snowfall" target="_blank" class="img-text">SnOwfall</a></div>
                    </div>
                </li>
                <li class="right-img">
                    <div class="album">
                        <div class="img-wrapper"><a href="https://open.spotify.com/album/7Fymw3ztBqGr2cMK3wwSdm" target="_blank" class="album-link"><img src="https://i.scdn.co/image/ab67616d00001e02d50ed5c57a84bbb2d93c6839" target="_blank" class="album-img"></a></div>
                        <div class="text-wrapper"><a href="https://open.spotify.com/album/7Fymw3ztBqGr2cMK3wwSdm" target="_blank" class="img-text">AnOther Way</a></div>
                    </div>
                </li>
            </ul>

            <ul class="img-row">
                <li class="left-img">
                    <div class="album">
                        <div class="img-wrapper"><a href="https://open.spotify.com/album/6onuvjHLWJWXp6204ALu5i" target="_blank" class="album-link"><img src="https://i.scdn.co/image/ab67616d00001e024e0bf217e809ef59d4093cdc" target="_blank"  class="album-img"></a></div>
                        <div class="text-wrapper"><a href="https://open.spotify.com/album/6onuvjHLWJWXp6204ALu5i" target="_blank" class="img-text">Cascade</a></div>
                    </div>
                </li>
                <li class="right-img">
                    <div class="album">
                        <div class="img-wrapper"><a href="https://open.spotify.com/album/5frzAILeTjSsArCQBjeQ3m" target="_blank" class="album-link"><img src="https://i.scdn.co/image/ab67616d00001e02c2635e5b4956a2f17bc1c7bd" target="_blank"  class="album-img"></a></div>
                        <div class="text-wrapper"><a href="https://open.spotify.com/album/5frzAILeTjSsArCQBjeQ3m" target="_blank" class="img-text">RediscOvery</a></div>
                    </div>
                </li>
            </ul>

            <ul class="img-row">
                <li class="left-img">
                    <div class="album">
                        <div class="img-wrapper"><a href="https://open.spotify.com/album/6fg2ydyDWnJp9bgQgvun1d" target="_blank" class="album-link"><img src="https://i.scdn.co/image/ab67616d00001e02b0e1dbcd3f3a4bdf3bb636d0" target="_blank"  class="album-img"></a></div>
                        <div class="text-wrapper"><a href="https://open.spotify.com/album/6fg2ydyDWnJp9bgQgvun1d" target="_blank" class="img-text">GOOdness</a></div>
                    </div>
                </li>
                <li class="right-img">
                    <div class="album">
                        <div class="img-wrapper"><a href="https://open.spotify.com/album/0GLgn98MU4nJiV84BDboNP" target="_blank" class="album-link"><img src="https://i.scdn.co/image/ab67616d00001e02a728574d3d006860bb342f84" target="_blank" class="album-img"></a></div>
                        <div class="text-wrapper"><a href="https://open.spotify.com/album/0GLgn98MU4nJiV84BDboNP" target="_blank" class="img-text">AscensiOn</a></div>
                    </div>
                </li>
            </ul>
        </section>

    </section>

    <section class="footer">
        <div id="socials">
            <a href="https://www.instagram.com/prodbyspider" target="_blank" class="fa fa-instagram"></a>
            <a href="https://www.youtube.com/c/KyleTV1" target="_blank" class="fa fa-youtube"></a>
        </div>
        <div class="separator"></div>
        <div id="legal">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Cookies</a>
        </div>
    </section>

</body>
</html>